<ng-container [formGroup]="carEditForm">
  <td><input type="text" formControlName="editMake" ></td>
  <td><input type="text" formControlName="editModel" ></td>
  <td><input type="number" formControlName="editYear" ></td>
  <td><input type="text" formControlName="editColor" ></td>
  <td><input type="number" formControlName="editPrice" ></td>
  <td>
    <button type="button" (click)="doSave()">Save</button>
    <button type="button" (click)="doCancel()">Cancel</button>
  </td>
</ng-container>
