<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let car of cars">
        <tr class="car-row" [car]="car" *ngIf="car.id !== editCarId"
          (edit)="doEditCar($event)" (delete)="doDeleteCar($event)"></tr>
        <tr class="car-edit-row" [car]="car" *ngIf="car.id === editCarId"
          (save)="doSaveCar($event)" (cancel)="doCancelCar($event)"></tr>
      </ng-container >
    </tbody>
  </table>
